.meals {
  max-width: 60rem;
  width: 90%;
  margin: -10rem auto 2rem auto;
  position: relative;
  z-index: 5;

  background: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meals li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.price {
  color: #ad5502;
  font-weight: bold;
  font-size: 1.25rem;
}

.addBtn {
  background-color: #8a2b06;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.addBtn:hover {
  background-color: #641e03;
}